- id: solr-health-check-{{ customer_name | default('eledia_default') }}
  project: {{ rundeck_project_name }}
  loglevel: INFO
  sequence:
    keepgoing: false
    strategy: node-first
    commands:
      - exec: /usr/local/bin/solr_health_check
  description: Health check for Solr instance {{ customer_name | default('eledia_default') }}
  name: Solr Health Check - {{ customer_name | default('eledia_default') }}
  group: solr/monitoring
  nodefilters:
    filter: name:{{ inventory_hostname }}
  scheduleEnabled: true
  schedule:
    crontab: '*/5 * * * *'
  options:
    - name: output_format
      description: Output format
      required: false
      value: json
      values:
        - json
        - text
